@font-face {
  font-family: "iconfont"; /* Project id 2790845 */
  src: url('//at.alicdn.com/t/font_2790845_xfx10q9kry.woff2?t=1632742069171') format('woff2'),
       url('//at.alicdn.com/t/font_2790845_xfx10q9kry.woff?t=1632742069171') format('woff'),
       url('//at.alicdn.com/t/font_2790845_xfx10q9kry.ttf?t=1632742069171') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiayiyeqianjinchakangengduo:before {
  content: "\e8f1";
}

.icon-zhuye_dianji:before {
  content: "\e603";
}

.icon-shipin-dianjitai:before {
  content: "\e65c";
}

.icon-gerenzhongxin-dianji:before {
  content: "\e60c";
}

.icon-zhuye-dianji:before {
  content: "\e611";
}

.icon-gerenzhongxin-dianji1:before {
  content: "\e612";
}

.icon-shipindianji:before {
  content: "\e682";
}

.icon--zhuye:before {
  content: "\e606";
}

.icon-gerenzhongxinwode-xianxing:before {
  content: "\e79f";
}

.icon-shipin:before {
  content: "\e68d";
}

.icon-gerenzhuye:before {
  content: "\e63b";
}

.icon-meirituijian:before {
  content: "\e601";
}

.icon-weibiaoti--:before {
  content: "\e60f";
}

.icon-sousuo:before {
  content: "\e635";
}

.icon-ziyuan98:before {
  content: "\e781";
}

.icon-diantaizhibo:before {
  content: "\e65b";
}

.icon-gedan:before {
  content: "\e636";
}

.icon-tuijian:before {
  content: "\e629";
}

.icon-dianshizhiboguankanshipinbofangmeiti:before {
  content: "\e60a";
}

.icon-paihangbang:before {
  content: "\f202";
}
